{% extends "base.html" %}
{% block title %}Пост пользователя{% endblock %}
{% block header %}{% endblock %}
{% block content %}
{% load thumbnail %}

<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        {{ author.get_full_name }}
                                    </div>
                                    <div class="h3 text-muted">
                                        @{{ author.username }}
                                    </div>
                            </div>
                            
                    </div>
            </div>

            <div class="col-md-9">             

        {% include "post_item.html" %}
        {% include "comment.html" %}

     </div>
    </div>
</main>

{% endblock %} 